@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --button-color: #FF6700;
    --text-title-color: #424244;
    --text-color: #252525;
    --bg-color: #EAE9E9;
    --button-hover: #C85100;
    --book-background: #E0E0E0;
    --main-bg-color: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: var(--main-bg-color);
}

.fixed-colors {
    color: var(--text-title-color);
}

.header-fixed {
    background-color: var(--bg-color);
}

.user-default {
    background-image: url(../data/images/user-icon/User\(1\).png);
}

.user-scrolled {
    background-image: url(../data/images/user-icon/User.png);
}


/* ------------- Header ----------- */

header {
    position: fixed;
    width: 100%;
    height: 105px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: white;
    padding: 20px 170px 20px 170px;
    display: flex;
    gap: 10px;
    z-index: 99;
}


nav {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64.56px;
}

/* ------------ Header Menu -------- */

menu {
    width: 831px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    transition: background-color 0.3s ease;
}


menu a {
    font-weight: 400;
    font-size: 28px;
    line-height: 32.81px;
    letter-spacing: 5%;
    text-decoration: none;
    color: white;
}

menu a:hover {
    color: var(--button-hover);
}

menu .user {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger {
    display: none;
}

.burger-output-container {
    display: none;
}

#clickUserContainer {
    position: absolute;
    top: 120px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    display: none;
}

.clickUser {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

#clickUserContainer .clickUser a {
    font-size: 24px;
    color: var(--text-title-color);
    padding: 5px 0px;
    border-bottom: 1px solid var(--button-color);
}

#clickUserContainer .clickUser a:hover {
    color: var(--button-hover);
}


/* ----------- Main Section -------- */

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-img {
    width: 100%;
    background-image: url(../data/images/hero-bg-img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 0 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-text {
    z-index: 98;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main-text p {
    color: white;
    font-size: 40px;
}

.main-text h1 {
    color: white;
    letter-spacing: 10%;
    font-weight: bold;
    font-size: 64px;
}

.main-text button {
    background-color: var(--button-color);
    padding: 20px 40px;
    border: none;
    border-radius: 20px;

    font-size: 24px;
    color: white;
}

.main-text button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

/* -----------------  Services section ---------- */

.services {
    width: 100%;
    padding: 0 170px;
    display: flex;
    justify-content: center;
    margin-bottom: 92px;
}

.services-container {
    width: 100%;
    max-width: 1580px;
    margin-top: 60px;
}

.services-title h1 {
    font-size: 40px;
    color: var(--text-title-color);
    margin-bottom: 20px;
}

.services-title p {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.seeAll {
    display: flex;
    justify-content: end;
}

.seeAll a {
    color: #C85100;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 10px;
}

/* ------------ Services Cards ----------- */

.services-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.first-card {
    width: 40%;
}

.first-card-img img {
    width: 100%;
    border-radius: 20px;
}

.first-card h3 {
    margin: 10px 0;
    font-size: 32px;
    color: var(--text-title-color);
}

.first-card p {
    font-size: 1rem;
    color: var(--text-color);
}

/* ------------ Video Section ----------- */

.video-section {
    width: 100%;
    padding: 0 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.video-container {
    width: 100%;
    max-width: 1580px;
}

.video-title h1 {
    font-size: 40px;
    color: var(--text-title-color);
    margin-bottom: 40px;
}

.video video {
    width: 100%;
    max-width: 1580px;
    border-radius: 40px;
}

/* ------------ Popular Tour Offers Section ------------ */

.tour-offers-section {
    width: 100%;
    padding: 0 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.tour-container {
    width: 100%;
    max-width: 1580px;
    overflow: hidden;
}

.tour-title h1 {
    font-size: 40px;
    color: var(--text-title-color);
    margin-bottom: 30px;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.carousel :first-child {
    width: 25px;
    height: 30px;
    cursor: pointer;
    color: var(--text-title-color);
}

.carousel :last-child {
    width: 25px;
    height: 30px;
    cursor: pointer;
    color: var(--text-title-color);
}

.carousel-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: transform 0.6s ease;
}

.carousel-card {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 auto;
}

.carousel-card-img img {
    width: 100%;
}

.carousel-card h3 {
    font-size: 32px;
    color: var(--text-title-color);
}

.carousel-card p {
    font-size: 24px;
    color: var(--text-color);
}

/* -------------- Blogs Section ------------- */
.blogs-section {
    width: 100%;
    padding: 0 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.blogs-container {
    width: 100%;
    max-width: 1580px;
}

.blogs-container h1 {
    font-size: 40px;
    color: var(--text-title-color);
    margin-bottom: 40px;
}

.blog-cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.blog-cards {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blogs-img {
    max-width: 100%;
}

.blogs-img img {
    max-width: 100%;
}

.blog-cards h3 {
    font-size: 32px;
    color: var(--text-color);
}

/* ----------------- Tour Book Section ---------- */
.book {
    width: 100%;
    padding: 50px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--book-background);
    margin-bottom: 60px;
}

.book-container {
    width: 100%;
    max-width: 1580px;
}

.book-container h1 {
    font-size: 40px;
    color: var(--text-title-color);
    margin-bottom: 40px;
}

.book-input {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

.book-input select {
    padding: 33px 50px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 28px;
}

.book-input select option {
    font-size: 28px;
    color: var(--text-color);
    border-bottom: 2px solid gray;
}

.book-container button {
    width: 100%;
    padding: 30px 0;
    color: white;
    font-size: 32px;
    border: none;
    border-radius: 20px;
    background-color: var(--button-color);
}

.book-container button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

/* --------------- Footer Section ----------- */

footer {
    width: 100%;
    padding: 40px 170px 10px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.footer-container {
    width: 100%;
    max-width: 1580px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-responsive {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min-content;
}

.first-section h1 {
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64.56px;
    color: var(--text-title-color);
}

.first-section p {
    font-size: 28px;
    color: var(--text-title-color);
}

.first-section h3 {
    font-size: 32px;
    color: var(--text-title-color);
}

.social-links {
    display: flex;
    gap: 20px;
}

.second-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second-section h5 {
    font-size: 32px;
    color: var(--text-title-color);
}

.second-section p {
    font-size: 24px;
    color: var(--text-title-color);
}

.third-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third-section .contact,
.third-section .sub-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third-section .contact h2 {
    font-size: 32px;
    color: var(--text-title-color);
}

.third-section .contact p {
    font-size: 24px;
    color: var(--text-title-color);
}

.third-section .sub-news h2 {
    font-size: 32px;
    color: var(--text-title-color);
}

.third-section .sub-news input {
    padding: 10px 13px;
    border-radius: 10px;
    border: 1px solid var(--text-title-color);
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.copyright p {
    font-size: 24px;
    color: var(--text-title-color);
}


/* -------------------------------------------- Responsive ----------------------------------- */

/* Responsive Styles for Various Sections */

@media screen and (max-width: 1580px) {
    header {
        padding: 20px 85px;
    }

    .logo a {
        font-size: 36px;
    }

    menu {
        width: auto;
    }

    menu a {
        font-size: 20px;
    }

    /* Main Section */
    .main-img {
        padding: 0 85px;
    }

    .main-text h1 {
        font-size: 48px;
    }

    .main-text p {
        font-size: 28px;
    }

    .main-text button {
        padding: 15px 30px;
        font-size: 20px;
    }

    /* Services Section */
    .services {
        padding: 0 85px;
    }

    .services-card {
        gap: 20px;
    }

    .first-card h3 {
        font-size: 24px;
    }

    .first-card p {
        font-size: 16px;
    }

    /* Video Section */
    .video-section {
        padding: 0 85px;
    }

    .video video {
        border-radius: 20px;
    }

    /* Tour Offers Section */
    .tour-offers-section {
        padding: 0 85px;
    }

    .carousel-card {
        width: 25%;
    }

    .carousel-card-container {
        gap: 0px;
    }

    .carousel-card-img {
        max-width: 95%;
    }

    .tour-title h1 {
        font-size: 40px;
    }

    .carousel-card h3 {
        font-size: 24px;
    }

    .carousel-card p {
        font-size: 20px;
    }

    /* Blogs Section */
    .blogs-section {
        padding: 0 85px;
    }

    .blog-cards {
        width: 32%;
    }

    .blog-cards-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .blogs-img img {
        border-radius: 10px;
    }

    .blog-cards h3 {
        font-size: 24px;
    }

    /* Tour Book Section */
    .book {
        padding: 50px 85px;
    }

    .book-container h1 {
        font-size: 40px;
    }

    .book-input select {
        padding: 25px 40px;
        font-size: 20px;
    }

    .book-container button {
        padding: 20px 0;
        font-size: 24px;
    }

    /* Footer Section */
    footer {
        padding: 40px 85px 10px 85px;
    }

    .first-section h1 {
        font-size: 32px;
    }

    .first-section p {
        font-size: 20px;
    }

    .social-links {
        gap: 15px;
    }

    .second-section h5 {
        font-size: 24px;
    }

    .third-section .contact h2,
    .third-section .sub-news h2 {
        font-size: 24px;
    }

    .third-section .contact p,
    .third-section .sub-news input {
        font-size: 18px;
    }

    .copyright p {
        font-size: 20px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Header */
    .burger {
        position: relative;
        width: 30px;
        height: 20px;
        display: block;
        background-image: url(../data/images/icons/burger-white.png);
        cursor: pointer;
    }

    .burger-scroll {
        position: relative;
        width: 30px;
        height: 20px;
        display: block;
        background-image: url(../data/images/icons/burger.png);
    }

    .burger-output-container {
        position: absolute;
        right: 40px;
        top: 40px;
        background-color: white;
        border-radius: 12px;
    }

    .burger-output {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 45px;
        color: black;
        font-size: 20px;
    }

    .burger-output-container .close {
        position: absolute;
        background-image: url(../data/images/icons/close.png);
        background-size: cover;
        width: 15px;
        height: 15px;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .burger-output .burger-line {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 5px 0;
    }

    .burger-output a {
        color: black;
    }

    .burger-output a:hover {
        color: var(--button-hover);
    }

    /* Header */

    header {
        padding: 10px 40px;
    }

    .logo a {
        font-size: 28px;
    }

    menu {
        display: none;
    }

    menu a {
        font-size: 20px;
    }

    /* Main Section */
    .main-img {
        padding: 0 40px;
    }

    .main-text h1 {
        font-size: 30px;
    }

    .main-text p {
        font-size: 24px;
    }

    .main-text button {
        padding: 10px 30px;
        font-size: 20px;
    }

    /* Services Section */
    .services {
        padding: 0 40px;
    }

    .services-title h1 {
        font-size: 32px;
    }

    .services-title p {
        font-size: 20px;
    }

    .services-card {
        gap: 20px;
    }

    .first-card h3 {
        font-size: 24px;
    }

    .first-card p {
        font-size: 16px;
    }

    /* Video Section */
    .video-section {
        padding: 0 40px;
    }

    .video-title h1 {
        font-size: 40px;
    }

    .video video {
        border-radius: 20px;
    }

    /* Tour Offers Section */
    .tour-offers-section {
        padding: 0 40px;
    }

    .carousel-card-container {
        overflow-x: scroll;
        scrollbar-width: none;
        gap: 20px;
    }

    .carousel {
        display: none;
    }

    .carousel-card {
        width: 45%;
    }

    .carousel-card-img {
        max-width: 100%;
    }

    .tour-title h1 {
        font-size: 40px;
    }

    .carousel-card h3 {
        font-size: 20px;
    }

    .carousel-card p {
        font-size: 18px;
    }

    /* Blogs Section */
    .blogs-section {
        padding: 0 40px;
    }

    .blogs-container h1 {
        font-size: 40px;
    }

    .blog-cards {
        width: 49%;
    }

    .services-card {
        flex-wrap: wrap;
    }

    .first-card {
        width: 48%;
    }

    .blog-cards-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .blogs-img img {
        border-radius: 10px;
    }

    .blog-cards h3 {
        font-size: 24px;
    }

    /* Tour Book Section */
    .book {
        padding: 50px 40px;
    }

    .book-container h1 {
        font-size: 40px;
    }

    .book-input {
        gap: 20px;
    }

    .book-input select {
        padding: 20px 30px;
        font-size: 20px;
    }

    .book-input select option {
        font-size: 20px;
    }

    .book-container button {
        border-radius: 15px;
        padding: 20px 0;
        font-size: 22px;
    }

    /* Footer Section */
    footer {
        padding: 40px 40px 10px 40px;
    }

    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-responsive {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .first-section {
        width: 50%;
    }

    .third-section {
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
    }

    .contact {
        width: 48%;
    }

    .first-section h1,
    .first-section h3 {
        font-size: 28px;
        font-weight: 400;
    }

    .first-section p {
        font-size: 20px;
    }

    .social-links {
        gap: 15px;
    }

    .second-section h5 {
        font-size: 28px;
    }

    .third-section .contact h2,
    .third-section .sub-news h2,
    .second-section h5 {
        font-weight: 400;
        font-size: 28px;
    }

    .second-section p {
        font-size: 20px;
    }

    .third-section .contact p,
    .third-section .sub-news input {
        font-size: 20px;
    }

    .copyright p {
        font-size: 24px;
    }

}

@media screen and (max-width: 768px) {

    /* Header */
    .burger {
        position: relative;
        width: 30px;
        height: 20px;
        display: block;
        background-image: url(../data/images/icons/burger-white.png);
    }

    .burger-scroll {
        position: relative;
        width: 30px;
        height: 20px;
        display: block;
        background-image: url(../data/images/icons/burger.png);
    }

    .burger-output-container {
        position: absolute;
        right: 40px;
        top: 40px;
        background-color: white;
        border-radius: 12px;
    }

    .burger-output {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 45px;
        color: black;
        font-size: 20px;
    }

    .burger-output-container .close {
        position: absolute;
        background-image: url(../data/images/icons/close.png);
        background-size: cover;
        width: 15px;
        height: 15px;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .burger-output .burger-line {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 5px 0;
    }

    .burger-output a {
        color: black;
    }

    header {
        padding: 8px 45px;
    }

    .logo a {
        font-size: 28px;
    }

    menu {
        display: none;
    }

    menu a {
        font-size: 18px;
    }

    /* Main Section */
    .main-img {
        padding: 0 45px;
    }

    .main-text h1 {
        font-size: 24px;
    }

    .main-text p {
        font-size: 16px;
    }

    .main-text button {
        padding: 10px 25px;
        font-size: 16px;
        border-radius: 15px;
    }

    /* Services Section */
    .services {
        padding: 0 45px;
    }

    .services-title h1 {
        font-size: 22px;
    }

    .services-title p {
        font-size: 14px;
    }

    .seeAll {
        display: none;
    }

    .services-card {
        flex-direction: column;
        gap: 20px;
    }

    .first-card h3 {
        font-size: 20px;
    }

    .first-card p {
        font-size: 16px;
    }

    .services-card {
        flex-wrap: wrap;
    }

    .first-card {
        width: 100%;
    }

    /* Video Section */
    .video-section {
        padding: 0 45px;
    }

    .video-title h1 {
        font-size: 22px;
    }

    .video video {
        border-radius: 20px;
    }

    /* Tour Offers Section */
    .tour-offers-section {
        padding: 0 40px;
    }

    .carousel-card-container {
        overflow-x: scroll;
        scrollbar-width: none;
        gap: 20px;
    }

    .carousel {
        display: none;
    }

    .carousel-card {
        width: 100%;
    }

    .carousel-card-img {
        max-width: 100%;
    }

    .tour-title h1 {
        font-size: 20px;
    }

    .carousel-card h3 {
        font-size: 18px;
    }

    .carousel-card p {
        font-size: 18px;
    }

    /* Blogs Section */
    .blogs-section {
        padding: 0 45px;
    }

    .blogs-container h1 {
        font-size: 22px;
    }

    .blog-cards {
        width: 100%;
    }

    .blog-cards-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .blogs-img img {
        border-radius: 10px;
    }

    .blog-cards h3 {
        font-size: 20px;
    }

    /* Tour Book Section */
    .book {
        padding: 50px 45px;
    }

    .book-container h1 {
        font-size: 22px;
    }

    .book-input {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .book-input select {
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
    }

    .book-input select option {
        font-size: 18px;
    }

    .book-container button {
        border-radius: 15px;
        padding: 20px 0;
        font-size: 22px;
    }

    /* Footer Section */
    footer {
        padding: 40px 45px 10px 45px;
    }

    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .first-section {
        width: 100%;
    }

    .first-section h1,
    .first-section h3 {
        font-size: 28px;
        font-weight: 400;
    }

    .first-section p {
        font-size: 20px;
    }

    .social-links {
        gap: 15px;
    }

    .second-section h5 {
        font-size: 28px;
    }

    .third-section .contact h2,
    .third-section .sub-news h2,
    .second-section h5 {
        font-weight: 400;
        font-size: 28px;
    }

    .second-section p {
        font-size: 20px;
    }

    .third-section .contact p,
    .third-section .sub-news input {
        font-size: 20px;
    }

    .copyright p {
        font-size: 24px;
    }
}