@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --button-color: #FF6700;
    --text-title-color: #424244;
    --text-color: #252525;
    --bg-color: #EAE9E9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* ------------- Header ----------- */
header {
    position: fixed;
    width: 100%;
    height: 105px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: white;
    padding: 20px 170px 20px 170px;
    display: flex;
    gap: 10px;
    z-index: 99;
}

.header-fixed {
    background-color: var(--bg-color);
    color: var(--text-title-color);
}

nav {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64.56px;
}

/* ------------ Header Menu -------- */

menu {
    width: 831px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    transition: background-color 0.3s ease;
}

.fixed-colors {
    color: var(--text-title-color);
}

menu a {
    font-weight: 400;
    font-size: 28px;
    line-height: 32.81px;
    letter-spacing: 5%;
    text-decoration: none;
    color: white;
}

menu .user {
    width: 40px;
    height: 40px;
}

.user-default {
    background-image: url(./images/User\(1\).png);
}

.user-scrolled {
    background-image: url(./images/User.png);
}

/* ----------- Main Section -------- */

.main {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 170px;
}

.main img {
    position: absolute;
    top: 0;
    max-width: 100%; 
    height: auto; 
}

.main-text {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
