@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --button-color: #FF6700;
    --text-title-color: #424244;
    --text-color: #252525;
    --bg-color: #EAE9E9;
    --button-hover: #C85100;
    --book-background: #E0E0E0;
    --main-bg-color: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: var(--main-bg-color);
}


/* ------------- Header ----------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 105px;
    background-color: var(--bg-color);
    color: white;
    padding: 20px 170px;
    display: flex;
    gap: 10px;
    z-index: 99;
}


nav {
    width: 100%;
    max-width: 1580px;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64.56px;
    color: var(--text-title-color);
}

/* ------------ Header Menu -------- */

menu {
    width: 831px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    transition: background-color 0.3s ease;
}


menu a {
    font-weight: 400;
    font-size: 28px;
    line-height: 32.81px;
    letter-spacing: 5%;
    text-decoration: none;
    color: var(--text-title-color);
}

menu a:hover {
    color: var(--button-hover);
}

menu .user {
    width: 40px;
    height: 40px;
    background-image: url(../../data/images/user-icon/User.png);
    cursor: pointer;
}

.burger {
    display: none;
}

.burger-output-container {
    display: none;
}

#clickUserContainer {
    position: absolute;
    top: 120px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    display: none;
}

.clickUser {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

#clickUserContainer .clickUser a {
    font-size: 24px;
    color: var(--text-title-color);
    padding: 5px 0px;
    border-bottom: 1px solid var(--button-color);
}

#clickUserContainer .clickUser a:hover {
    color: var(--button-hover);
}

/* --------------- Child Header Section --------------  */

.child-header {
    width: 100%;
    margin-top: 165px;
    margin-bottom: 60px;
    padding: 0 170px;
    display: flex;
    justify-content: center;
}

.child-header-container {
    width: 100%;
    max-width: 1580px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.child-header-container a {
    color: var(--text-title-color);
    font-size: 24px;
    letter-spacing: 5%;
}

.child-header-container a:hover {
    color: var(--button-hover);
}

.child-header-container .active {
    background-color: var(--button-color);
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
}

.child-header-container .active:hover {
    color: white;
}

/* --------------- Search Section ----------- */

.search {
    width: 100%;
    padding: 0 170px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-container {
    width: 100%;
    max-width: 1580px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-container .filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-container .filter span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: var(--text-title-color);
    cursor: pointer;
}

.search-container .search-inputs {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-container .search-inputs input {
    width: 100%;
    padding: 20px 30px;
    outline: none;
    border: 1px solid var(--button-color);
    border-radius: 20px;
    color: var(--text-title-color);
}

.search-container .search-inputs button {
    border-radius: 20px;
    border: none;
    background-color: var(--button-color);
    padding: 15px 75px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.search-container .search-inputs button:hover {
    background-color: var(--button-hover);
}


/* --------------- Property Section ---------- */

.property {
    width: 100%;
    padding: 0 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.property-container {
    width: 100%;
    max-width: 1580px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.property-container h1 {
    font-size: 42px;
    color: var(--text-title-color);
}

.property-container span {
    display: flex;
    justify-content: space-between;
}

.property-container span img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: transform 0.6s ease;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carousel-card img {
    width: 380px;
}

.carousel-card p {
    font-size: 28px;
    color: var(--text-color);
}

/* --------------- output section ----------- */

.output-section {
    width: 100%;
    justify-content: center;
    padding: 0 170px;
    margin: 60px 0;
    display: none;
}

.output-container {
    width: 100%;
    max-width: 1580px;
    display: flex;
    gap: 20px;
}

#filter-click {
    display: none;
}

.filter-container {
    width: 380px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 20px;
}

.filter-container h1 {
    font-size: 28px;
    font-weight: 400;
    color: var(--text-title-color);
}

.filter-by {
    color: var(--button-color);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--button-color);
    width: fit-content;
    cursor: pointer;
}

.check-box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.check-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.check-box span {
    display: flex;
    gap: 20px;
}

.check-box p {
    color: var(--button-color);
    border-bottom: 1px solid var(--button-color);
    width: fit-content;
    cursor: pointer;
}

.check-box span label {
    font-size: 24px;
    color: var(--text-title-color);
}

.check-box span input {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}


/* --------------- Details Section ------------- */

.details-section {
    width: 100%;
    padding: 0 170px;
    display: none;
    /* flex when click */
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.details-container {
    width: 100%;
    max-width: 1580px;
    display: flex;
    gap: 20px;
}

.filtered-sidebar {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-search {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-search h1 {
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--text-title-color);
}

.sidebar-search span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-search label {
    font-size: 16px;
    color: var(--text-title-color);
}

.sidebar-search span input {
    border: 1px solid var(--button-color);
    padding: 10px;
    border-radius: 5px;
}

.map {
    width: 100%;
}


.list {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}

.list p {
    font-size: 20px;
    color: var(--text-title-color);
}

.list ul {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list ul li {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-title-color);
    opacity: 80%;
}



/* --------------- output-cards ----------- */
.output-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.output-cards button {
    width: 100%;
    align-self: flex-end;
    padding: 20px 0;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 600;
}

.output-cards button:hover {
    background-color: var(--button-hover);
}

.sort {
    margin-bottom: 20px;
}

.sort h1 {
    font-size: 28px;
    color: var(--text-title-color);
    margin-bottom: 20px;
}

.sort select {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid var(--button-color);
    font-size: 24px;
    color: var(--text-title-color);
    opacity: 70%;
}


.resort-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resort-card-container {
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.resort-card {
    padding: 40px 30px;
    display: flex;
    gap: 20px;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.description button {
    padding: 16px 0;
    font-size: 24px;
}

.description .text {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.description-text h3 {
    font-size: 32px;
    color: var(--text-color);
    font-weight: normal;
}

.description-text h4 {
    font-size: 22px;
    color: var(--text-title-color);
    font-weight: normal;
}

.description-text h5 {
    font-size: 20px;
    color: var(--text-title-color);
    font-weight: normal;
}

.description-text h6 {
    font-size: 16px;
    color: var(--text-title-color);
    font-weight: normal;
    text-wrap: wrap;
}

.rating-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.rating-text P {
    font-size: 24px;
    color: var(--text-title-color);
}

.rating-text span {
    font-size: 28px;
}

.stars {
    display: flex;
}


/* --------------- Details output ----------- */
.details-output {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.details-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-name h1 {
    font-size: 28px;
    font-weight: 500;
    color: var(--text-title-color);
}

.details-name p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: var(--text-title-color);
    opacity: 70%;
}

.details-rating {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.details-rating p {
    font-size: 20px;
    color: var(--text-title-color);
}

.details-rating span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* details img container */


.imgs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgs-container .upper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.imgs-container .upper span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imgs-container .upper span img {
    max-width: 100%;
}

.imgs-container .upper img {
    max-width: 65%;
    height: auto;
}

.imgs-container .down {
    display: flex;
    gap: 20px;
}

.imgs-container .down img {
    width: 100%;
    height: auto;
}

.buttons-container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.buttons-container span {
    width: 25%;
    border: 1px solid var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}

.buttons-container button {
    width: 50%;
    padding: 10px 0;
    border: none;
    background-color: var(--button-color);
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.buttons-container button:hover {
    background-color: var(--button-hover);
}

.details-desc {
    width: 100%;
}


.details-desc p {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-title-color);
}

.show-more {
    color: var(--button-color);
    border-bottom: 1px solid var(--button-color);
    padding-bottom: 5px;
    display: none;
}


/* --------------- Footer Section ----------- */

footer {
    width: 100%;
    padding: 40px 170px 10px 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.footer-container {
    width: 100%;
    max-width: 1580px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-responsive {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min-content;
}

.first-section h1 {
    font-family: "Kalnia", serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 64.56px;
    color: var(--text-title-color);
}

.first-section p {
    font-size: 28px;
    color: var(--text-title-color);
}

.first-section h3 {
    font-size: 32px;
    color: var(--text-title-color);
}

.social-links {
    display: flex;
    gap: 20px;
}

.second-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second-section h5 {
    font-size: 32px;
    color: var(--text-title-color);
}

.second-section p {
    font-size: 24px;
    color: var(--text-title-color);
}

.third-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third-section .contact,
.third-section .sub-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third-section .contact h2 {
    font-size: 32px;
    color: var(--text-title-color);
}

.third-section .contact p {
    font-size: 24px;
    color: var(--text-title-color);
}

.third-section .sub-news h2 {
    font-size: 32px;
    color: var(--text-title-color);
}

.third-section .sub-news input {
    padding: 10px 13px;
    border-radius: 10px;
    border: 1px solid var(--text-title-color);
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.copyright p {
    font-size: 24px;
    color: var(--text-title-color);
}


/* -------------------------------------------- Responsive ----------------------------------- */

/* Responsive Styles for Various Sections */

@media screen and (max-width: 1580px) {
    header {
        padding: 20px 85px;
    }

    .logo a {
        font-size: 36px;
    }

    menu {
        width: auto;
    }

    menu a {
        font-size: 20px;
    }

    /* Child Header */

    .child-header,
    .search {
        padding: 0 85px;
    }

    .child-header-container {
        gap: 20px;
    }

    .child-header-container a {
        font-size: 20px;
    }

    .search-container,
    .output-container {
        max-width: 1580px;
    }

    /* property Carousel*/
    .property {
        padding: 0 85px;
    }

    .property-container h1 {
        font-size: 32px;
    }

    /* Resort Card */

    .rating-text {
        align-items: baseline;
    }

    .description .text {
        flex-wrap: wrap;
        gap: 10px;
    }

    .resort-card img {
        max-width: 100%;
        width: 65%;
    }

    .description-text {
        gap: 10px;
    }

    .description-text h3 {
        font-size: 28px;
    }

    .description-text h4 {
        font-size: 20px;
    }

    .description-text h5 {
        font-size: 18px;
    }

    .description-text h6 {
        font-size: 14px;
    }

    .rating-text P {
        font-size: 20px;
    }

    .rating-text span {
        font-size: 24px;
    }


    /* Output section */

    .output-section {
        padding: 0 85px;
    }

    .filter-titles h1,
    .check-box span label,
    .filter-container .first-section li {
        font-size: 28px;
    }

    .filter-container {
        display: flex;
        width: 25%;
    }

    .filter-container .first-section,
    .filter-container .second-section {
        gap: 20px;
        padding: 15px 20px;
    }

    .filter-titles h1,
    .check-box span label,
    .filter-container .first-section li {
        font-size: 20px;
    }

    .filter-container h1 {
        font-size: 24px;
    }

    .card {
        gap: 60px;
    }

    .card .card-responisve {
        gap: 20%;
    }

    /* Details Container */

    .details-section {
        padding: 0 85px;
    }

    .filtered-sidebar {
        width: 35%;
    }

    .details-name h1 {
        font-size: 24px;
    }

    .map img {
        width: 100%;
    }

    .details-name p {
        font-size: 14px;
    }

    .details-rating p {
        font-size: 18px;
    }

    .details-desc p {
        font-size: 16px;
    }

    .buttons-container span {
        font-size: 18px;
    }

    .buttons-container button {
        font-size: 18px;
    }

    /* Footer Section */
    footer {
        padding: 40px 85px 10px 85px;
    }

    .first-section h1 {
        font-size: 32px;
    }

    .first-section p {
        font-size: 20px;
    }

    .social-links {
        gap: 15px;
    }

    .second-section h5 {
        font-size: 24px;
    }

    .third-section .contact h2,
    .third-section .sub-news h2 {
        font-size: 24px;
    }

    .third-section .contact p,
    .third-section .sub-news input {
        font-size: 18px;
    }

    .copyright p {
        font-size: 20px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Header */
    .burger {
        position: relative;
        width: 30px;
        height: 20px;
        display: block;
        background-image: url(../../data/images/icons/burger.png);
        cursor: pointer;
    }

    .burger-output-container {
        position: absolute;
        right: 40px;
        top: 40px;
        background-color: white;
        border-radius: 12px;
    }

    .burger-output {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 45px;
        color: black;
        font-size: 20px;
    }

    .burger-output-container .close {
        position: absolute;
        background-image: url(../../data/images/icons/close.png);
        background-size: cover;
        width: 15px;
        height: 15px;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .burger-output .burger-line {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 5px 0;
    }

    .burger-output a {
        color: black;
    }

    .burger-output a:hover {
        color: var(--button-hover);
    }

    /* Child Header */

    .child-header,
    .search {
        padding: 0 40px;
    }

    .child-header-container {
        gap: 30px;
    }

    .child-header-container a {
        font-size: 20px;
    }

    .search-container,
    .output-container {
        max-width: 100%;
    }

    /* Header */

    header {
        padding: 10px 40px;
    }

    .logo a {
        font-size: 28px;
    }

    menu {
        display: none;
    }

    menu a {
        font-size: 20px;
    }

    /* Child header */
    .child-header,
    .search {
        padding: 0 40px;
    }

    .search-inputs {
        flex-wrap: wrap;
    }

    .search-container .search-inputs input,
    .search-container .search-inputs button {
        width: 48%;
    }

    .child-header-container {
        gap: 30px;
    }

    .child-header-container a {
        font-size: 28px;
        display: block ruby;
    }

    .search-container,
    .output-container {
        max-width: 100%;
    }

    /* property Carousel*/
    .property {
        padding: 0 40px;
    }

    .property-container span {
        display: none;
    }

    .property-container h1 {
        font-size: 28px;
    }

    .carousel-card p {
        font-size: 24px;
    }

    .carousel {
        overflow-x: auto;
        scrollbar-width: none;
    }

    /* Output Container */

    .output-section {
        padding: 0 40px;
    }

    .sort h1 {
        font-size: 24px;
    }

    .sort select {
        padding: 5px 15px;
    }

    .output-container {
        flex-direction: column;
    }

    .filter-container {
        display: none;
    }

    #filter-click {
        width: 100%;
        display: flex;
        padding: 10px 0;
        font-size: 28px;
        border: none;
        border-radius: 15px;
        background-color: var(--button-color);
        color: white;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #filter-back {
        display: none;
    }

    #filter-back {
        position: absolute;
        left: 10px;
        width: 20px;
        height: 20px;
    }

    .filter-container {
        width: 100%;
    }

    .output-cards button {
        font-size: 20px;
    }

    /* Details section */
    .details-title {
        flex-direction: column;
        gap: 20px;
    }

    .details-rating {
        align-items: flex-start;
    }

    .details-rating span {
        flex-direction: row-reverse;
    }

    .details-section {
        padding: 0 40px;
    }

    .imgs-container .upper img {
        max-width: 100%;
    }

    .filtered-sidebar {
        display: none;
    }

    .imgs-container .upper span {
        display: none;
    }

    .imgs-container .down img:last-child {
        display: none;
    }

    .show-more {
        display: block;
        width: fit-content;
        cursor: pointer;
    }

    .details-container {
        flex-direction: column-reverse;
    }

    .buttons-container {
        flex-wrap: wrap;
    }

    .buttons-container span {
        width: 48%;
        padding: 15px 0;
    }

    .buttons-container button {
        width: 100%;
        padding: 15px 0;
    }

    .filtered-sidebar {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    /* Footer Section */
    footer {
        padding: 40px 40px 10px 40px;
    }

    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-responsive {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .first-section {
        width: 50%;
    }

    .third-section {
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
    }

    .contact {
        width: 48%;
    }

    .first-section h1,
    .first-section h3 {
        font-size: 28px;
        font-weight: 400;
    }

    .first-section p {
        font-size: 20px;
    }

    .social-links {
        gap: 15px;
    }

    .second-section h5 {
        font-size: 28px;
    }

    .third-section .contact h2,
    .third-section .sub-news h2,
    .second-section h5 {
        font-weight: 400;
        font-size: 28px;
    }

    .second-section p {
        font-size: 20px;
    }

    .third-section .contact p,
    .third-section .sub-news input {
        font-size: 20px;
    }

    .copyright p {
        font-size: 24px;
    }

}

@media screen and (max-width: 768px) {

    /* Header */
    .burger {
        position: relative;
        width: 30px;
        height: 20px;
        display: block;
        background-image: url(../../data/images/icons/burger.png);
        cursor: pointer;
    }

    .burger-output-container {
        position: absolute;
        right: 40px;
        top: 40px;
        background-color: white;
        border-radius: 12px;
    }

    .burger-output {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 45px;
        color: black;
        font-size: 20px;
    }

    .burger-output-container .close {
        position: absolute;
        background-image: url(../../data/images/icons/close.png);
        background-size: cover;
        width: 15px;
        height: 15px;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    .burger-output .burger-line {
        width: 100%;
        border-bottom: 1px solid black;
        padding: 5px 0;
    }

    .burger-output a {
        color: black;
    }

    .burger-output a:hover {
        color: var(--button-hover);
    }

    header {
        padding: 8px 45px;
    }

    .logo a {
        font-size: 28px;
    }

    menu {
        display: none;
    }

    menu a {
        font-size: 18px;
    }


    /* Child Header */

    .child-header,
    .search {
        padding: 0 45px;
    }

    .search-inputs {
        flex-wrap: wrap;
    }

    .search-container .search-inputs input,
    .search-container .search-inputs button {
        width: 100%;
    }

    .child-header-container {
        overflow-x: auto;
        scrollbar-width: none;
        gap: 20px;
    }

    .child-header-container a {
        font-size: 20px;
        display: block ruby;
    }

    .search-container,
    .output-container {
        max-width: 100%;
    }

    /* property Carousel*/
    .property {
        padding: 0 45px;
    }

    .property-container span {
        display: none;
    }

    .property-container h1 {
        font-size: 24px;
    }

    .carousel-card p {
        font-size: 18px;
    }

    .carousel {
        overflow-x: auto;
        scrollbar-width: none;
    }

    .carousel-card img {
        width: 300px;
    }

    /* Output Container */

    .output-section {
        padding: 0 45px;
    }

    .output-container {
        flex-direction: column;
    }

    .filter-container {
        display: none;
    }

    #filter-click {
        width: 100%;
        display: flex;
        padding: 10px 0;
        font-size: 20px;
        border: none;
        border-radius: 15px;
        background-color: var(--button-color);
        color: white;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #filter-back {
        display: none;
    }

    #filter-back {
        position: absolute;
        left: 10px;
        width: 20px;
        height: 20px;
    }

    .filter-titles h1,
    .check-box span label,
    .filter-container .first-section li {
        font-size: 24px;
    }

    .filter-container {
        width: 100%;
    }

    .output-cards button {
        font-size: 20px;
        padding: 15px 0;
        border-radius: 15px
    }

    /* Resort Caard */

    .resort-card {
        flex-direction: column;
        padding: 15px 20px;
    }

    .resort-card img {
        max-width: 100%;
        width: 100%;
    }

    .sort h1 {
        font-size: 20px;
    }

    .sort select {
        width: 100%;
        padding: 10px 15px;
    }

    .description-text {
        gap: 5px;
    }

    .description {
        gap: 10px;
    }

    .description-text h3 {
        font-size: 24px;
    }

    .description-text h4 {
        font-size: 18px;
    }

    .description-text h5 {
        font-size: 14px;
    }

    .description-text h6 {
        font-size: 12px;
    }

    .rating-text P {
        font-size: 18px;
    }

    .rating-text span {
        font-size: 20px;
    }

    /* Details section */

    .details-title {
        flex-direction: column;
        gap: 20px;
    }

    .details-rating {
        align-items: flex-start;
    }

    .details-rating span {
        flex-direction: row-reverse;
    }

    .details-section {
        padding: 0 45px;
    }

    .imgs-container .upper img {
        max-width: 100%;
    }

    .filtered-sidebar {
        display: none;
    }

    .imgs-container .upper span {
        display: none;
    }

    .imgs-container .down img:last-child {
        display: none;
    }

    .imgs-container .down {
        overflow: hidden;
    }

    .buttons-container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .buttons-container span {
        width: 48%;
        padding: 15px 0;
    }

    .buttons-container button {
        width: 100%;
        padding: 15px 0;
    }

    .show-more {
        display: block;
        width: fit-content;
        cursor: pointer;
    }

    .details-container {
        flex-direction: column-reverse;
    }

    .buttons-container span {
        font-size: 12px;
    }

    .filtered-sidebar {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }




    /* Footer Section */
    footer {
        padding: 40px 45px 10px 45px;
    }

    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .first-section {
        width: 100%;
    }

    .first-section h1,
    .first-section h3 {
        font-size: 28px;
        font-weight: 400;
    }

    .first-section p {
        font-size: 20px;
    }

    .social-links {
        gap: 15px;
    }

    .second-section h5 {
        font-size: 28px;
    }

    .third-section {
        width: 100%;
    }

    .third-section .contact h2,
    .third-section .sub-news h2,
    .second-section h5 {
        font-weight: 400;
        font-size: 28px;
    }

    .second-section p {
        font-size: 20px;
    }

    .third-section .contact p,
    .third-section .sub-news input {
        font-size: 20px;
    }

    .copyright p {
        font-size: 24px;
    }
}